.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}

.hero-fon {
  // max-width: 767px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
    url('../images/hero-mobile.jpg');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;

  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-width: 360px) {
  .hero-fon {
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
      url('../images/hero-mobile@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .hero-fon {
    // max-width: 1199px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
      url('../images/hero-tablet.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-width: 768px) {
  .hero-fon {
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
      url('../images/hero-tablet@2x.jpg');
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .hero-fon {
    // max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
      url('../images/hero.jpg');
  }

  .hero-title {
    font-size: 44px;
    line-height: 1.36;

    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-width: 1200px) {
  .hero-fon {
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
      url('../images/hero@2x.jpg');
  }
}

// @media screen and (max-width: 1199px) {
//   .hero-fon {
//     width: 768px;
//   }
// }

// @media screen and (max-width: 767px) {
//   .hero-fon {
//     width: 480px;
//   }
// }

// .hero {
//   padding-top: 200px;
//   padding-bottom: 200px;
//   text-align: center;

//   &-fon {
//     max-width: 1600px;
//     height: 600px;
//     margin-left: auto;
//     margin-right: auto;

//     background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),
//       url(../images/Header.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
//   }

//   &-title {
//     margin-top: 0px;
//     margin-bottom: 30px;

//     font-weight: 900;
//     font-size: 44px;
//     line-height: 1.36;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
//     color: $primery-white-color;
//   }
// }
