body {
  font-family: $primery-font-family;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $primery-text-color;
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
