$primery-font-family: 'Roboto', sans-serif;
$logo-font-family: 'Raleway', sans-serif;
$primery-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primery-white-color: #ffffff;
$secondary-white-color: rgba(255, 255, 255, 0.6);
$copyright-white-color: rgba(255, 255, 255, 0.4);
$primery-background-color: #e5e5e5;
$primery-black-color: #000000;
$hero-background-color: rgba(47, 48, 58, 0.8);
$footer-background-color: #2f303a;
